body {
    background-color: #ffffff;
    font-family: 'Fira Sans', sans-serif;
}

.navbar-inverse {
    background: #f2f2f2 !important;
    border-bottom: 4px solid #EE445F !important;
    font-family: 'Raleway', sans-serif;
}

.navbar-brand {
    text-transform: uppercase;
    color: #000000 !important;
    letter-spacing: 2px;
    margin-top: 2px;
}

.nav {
    margin-bottom: 0px;
}

.nav a {
    /* letter-spacing: 2px; */
    padding: 16px !important;
    color: #242038 !important;
    text-transform: uppercase;
    position: relative;
    z-index: 1000;
}

.nav a:hover {
    color: #FFF !important;
}

.nav li {
    position: relative;
}

.navbar-inverse .navbar-toggle {
    border: none;
}

.navbar-collapse {
    box-shadow: none !important;
    border: none !important;
}

.navbar-inverse .navbar-toggle:hover {
    background: transparent !important;
}

.navbar-inverse .navbar-toggle:focus {
    background: transparent !important;
}

.navbar-inverse .navbar-toggle:active {
    background: transparent !important;
}

.icon-bar {
    background: #242038 !important;
}

.hover {
    display: block;
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #EE445F !important;
    z-index: 0;
    opacity: 0;
}

.vcenter {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vcenter h1 {
    font-family: 'Raleway', sans-serif;
    color: #000000;
}

.vcenter h3 {
    color: #242038;
}

/* products.html */

.product-container {
    height: 100vh !important;
    text-transform: uppercase;
}

.product-container .row {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.product-container .row-1 {
    margin-top: 10rem;
    height: 70vh;
}

.product-container .col-md-7 {
    padding-left: 0;
    padding-right: 0;
}

.product-container .col-md-7 .box-1 {
    text-align: center;
    height: 65vh;
    width: 95%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    background-color: #f2f2f2 !important;
    border: 4px solid #EE445F !important;
}

.product-container .col-md-7 .box-1:hover {
    background-color: #EE445F !important;
    border: 4px solid #f2f2f2 !important;
}

.product-container .col-md-5 {
    padding-left: 0;
    padding-right: 0;
}

.product-container .col-md-5 .row {
    margin: 0;
}

.product-container .col-md-5 .row .box-2 {
    text-align: center;
    height: 30vh;
    width: 95%;
    margin-left: 5%;
    margin-right: 0;
    margin-top: 0;
    background-color: #f2f2f2 !important;
    border: 4px solid #EE445F !important;
}

.product-container .col-md-5 .row .box-2:hover {
    background-color: #EE445F !important;
    border: 4px solid #f2f2f2 !important;
}

.product-container .col-md-5 .row .box-3 {
    text-align: center;
    height: 30vh;
    width: 95%;
    margin-left: 5%;
    margin-right: 0;
    margin-top: 5vh;
    background-color: #f2f2f2 !important;
    border: 4px solid #EE445F !important;
}

.product-container .col-md-5 .row .box-3:hover {
    background-color: #EE445F !important;
    border: 4px solid #f2f2f2 !important;
}

.product-container .row-2 {
    height: 30vh;
    margin-bottom: 10rem;
}

.product-container .row-2 .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.product-container .row-2 .box-4 {
    text-align: center;
    height: 30vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: #f2f2f2 !important;
    border: 4px solid #EE445F !important;
}

.product-container .row-2 .box-4:hover {
    background-color: #EE445F !important;
    border: 4px solid #f2f2f2 !important;
}

.modal-backdrop.in {
    filter: alpha(opacity=75);
    opacity: 0.75;
}

.modal-content {
    width: 100%;
    border-radius: 0;
    border: 4px solid #EE445F !important;
    outline: 10px solid #f2f2f2 !important;
}

.modal-title {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

/* Contact Us Page */
.contact-container {
    margin-top: 10rem;
    max-height: 100vh !important;
    text-align: center !important;
}

.contact-container h1 {
    color: #000000 !important;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 1rem;
    border-bottom: 4px solid #EE445F;
    margin-bottom: 4rem;
}

.contact-container h2 {
    /* font-size: 1.75rem !important; */
    color: #000000;
}

.contact-container p {
    font-size: 1.75rem !important;
    color: #242038;
}

.contact-container p svg {
    color: #000000 !important;
}

.contact-container p a svg {
    color: #EE445F !important;
}

form {
    margin-left: 15%;
    margin-right: 15%;
}

textarea {
    width: 100%;
}

.input-group {
    background-color: #f2f2f2 !important;
    border: 2px solid #EE445F !important;
    border-radius: 0;
}

.input-group-addon {
    color: #EE445F !important;
    background-color: #f2f2f2 !important;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
}

.shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #EE445F;
}

.text {
    color: #000000;
    font-family: 'Roboto Condensed';
    font-size: 22px;
    letter-spacing: 8px;
    line-height: 32px;
    position: relative;
    top: -48px;
}

@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }
    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}

.svg-inline--fa {
    margin-left: 1rem;
    margin-right: 1rem;
}

#map {
    height: 75vh;  /* The height is 400 pixels */
    margin-right: 15%;
    margin-left: 15%;
    border: 4px solid #EE445F !important;
    /* border-style: solid;
    border-color: #000000; */
}

#success_message {
    display: none;
}