body {
    background-color: #192226;
    font-family: 'Fira Sans', sans-serif;
}

.navbar-inverse {
    background: #222B31 !important;
    border-bottom: 4px solid #EE445F !important;
    font-family: 'Raleway', sans-serif;
}

.navbar-brand {
    text-transform: uppercase;
    color: #ffffff !important;
    letter-spacing: 2px;
    margin-top: 2px;
}

.nav {
    margin-bottom: 0px;
}

.nav a {
    /* letter-spacing: 2px; */
    padding: 16px !important;
    color: #a3bfc6 !important;
    text-transform: uppercase;
    position: relative;
    z-index: 1000;
}

.nav a:hover {
    color: #FFF !important;
}

.nav li {
    position: relative;
}

.navbar-inverse .navbar-toggle {
    border: none;
}

.navbar-collapse {
    box-shadow: none !important;
    border: none !important;
}

.navbar-inverse .navbar-toggle:hover {
    background: transparent !important;
}

.navbar-inverse .navbar-toggle:focus {
    background: transparent !important;
}

.navbar-inverse .navbar-toggle:active {
    background: transparent !important;
}

.icon-bar {
    background: #a3bfc6 !important;
}

.hover {
    display: block;
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #EE445F !important;
    z-index: 0;
    opacity: 0;
}

/* products.html */

.product-container {
    height: 100vh !important;
}

.product-container .row {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.product-container .row-1 {
    margin-top: 10rem;
    height: 70vh;
}

.product-container .col-md-7 {
    padding-left: 0;
    padding-right: 0;
}

.product-container .col-md-7 .box-1 {
    height: 65vh;
    width: 95%;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    /* margin-right: 5%; */
    background-color: #222B31 !important;
    border: 4px solid #EE445F !important;
}

.product-container .col-md-5 {
    padding-left: 0;
    padding-right: 0;
}

.product-container .col-md-5 .row {
    margin: 0;
}

.product-container .col-md-5 .row .box-2 {
    height: 30vh;
    width: 95%;
    margin-left: 5%;
    margin-right: 0;
    margin-top: 0;
    background-color: #222B31 !important;
    border: 4px solid #EE445F !important;
}

.product-container .col-md-5 .row .box-3 {
    height: 30vh;
    width: 95%;
    margin-left: 5%;
    margin-right: 0;
    margin-top: 5vh;
    background-color: #222B31 !important;
    border: 4px solid #EE445F !important;
}

.product-container .row-2 {
    height: 30vh;
    margin-bottom: 10rem;
}

.product-container .row-2 .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.product-container .row-2 .box-4 {
    height: 30vh;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    background-color: #222B31 !important;
    border: 4px solid #EE445F !important;
}

/* .product-container .col-md-7, .product-container .col-md-5 {
    margin-left: 1rem;
    margin-right: 1rem;
} */